<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Bootstrap -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="/javascripts/jquery-2.1.4.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Financial Risk Management</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Daily Change
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/">By Ticker</a></li>
                            <li><a href="/byQuality">By Quality</a></li>

                        </ul>
                    </li>
                    <li class="active"><a href="/riskByMaturity">Risk by Maturity</a></li>
                    <li><a href="/varChart">Historical P&L Chart</a></li>

                </ul>
            </div>
        </nav>

        <!-- Content -->
        <h1><%= title %></h1>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
            </colgroup>

            <thead>
            <td></td>
            <td colspan="2" class="info text-center"><strong>2YR</strong></td>
            <td colspan="2" class="warning text-center"><strong>5YR</strong></td>
            <td colspan="2" class="success text-center"><strong>10YR</strong></td>
            <td colspan="2" bgcolor="#daa520" class="text-center"><strong>30YR</strong></td>
            </thead>

            <thead>
            <td class="text-center"><strong>Book</strong></td>
            <td class="text-center"><strong>Risk</strong></td><td class="text-center"><strong>Market Value</strong></td>
            <td class="text-center"><strong>Risk</strong></td><td class="text-center"><strong>Market Value</strong></td>
            <td class="text-center"><strong>Risk</strong></td><td class="text-center"><strong>Market Value</strong></td>
            <td class="text-center"><strong>Risk</strong></td><td class="text-center"><strong>Market Value</strong></td>
            </thead>

            <tr>
                <td align="center">
                    <%= content["bookRisk"]["book"] %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["2year_risk"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["2year_marketvalue"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["5year_risk"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["5year_marketvalue"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["10year_risk"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["10year_marketvalue"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["30year_risk"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= content["bookRisk"]["30year_marketvalue"].toFixed(0) %>
                </td>
            </tr>


        </table>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
            </colgroup>

            <thead>
            <td></td>
            <td class="info text-center"><strong>2YR</strong></td>
            <td class="warning text-center"><strong>5YR</strong></td>
            <td class="success text-center"><strong>10YR</strong></td>
            <td bgcolor="#daa520" class="text-center"><strong>30YR</strong></td>
            </thead>


            <tr>
                <td>
                    2yr hedge
                </td>
                <td align="center">
                    <%= content["2year_hedge"]["2year"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["2year_hedge"]["5year"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["2year_hedge"]["10year"].toFixed(0) %>
                </td>
                <td align="center">
                    <%= content["2year_hedge"]["30year"].toFixed(0) %>
                </td>
            </tr>
            <tr>
                <td>
                    Original Yield Curve
                </td>
                <td align="center">
                    <%= setting["yieldCurve"]["2year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["yieldCurve"]["5year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["yieldCurve"]["10year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["yieldCurve"]["30year"].toFixed(2) %>
                </td>
            </tr>
            <tr>
                <form action='/adjustSpread' method='get'>
                    <td>
                        Spread   <button type="submit" class="btn btn-primary btn-xs">Adjust Yield Curve</button>
                    </td>
                    <td>
                        <input type="hidden" name="yield2" value="<%= setting["baseYield"]["2year"] %>">
                        <input type="text"  onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" class="form-control input-sm" name="spread2" id="2year_spread" value="<%= setting["spread"]["2year"] %>">
                    </td>
                    <td>
                        <input type="hidden" name="yield5" value="<%= setting["baseYield"]["5year"] %>">
                        <input type="text" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" class="form-control input-sm" name="spread5" id="5year_spread" value="<%= setting["spread"]["5year"] %>">
                    </td>
                    <td>
                        <input type="hidden" name="yield10" value="<%= setting["baseYield"]["10year"] %>">
                        <input type="text" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" class="form-control input-sm" name="spread10" id="10year_spread" value="<%= setting["spread"]["10year"] %>">
                    </td>
                    <td>
                        <input type="hidden" name="yield30" value="<%= setting["baseYield"]["30year"] %>">
                        <input type="text" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" class="form-control input-sm" name="spread30" id="30year_spread" value="<%= setting["spread"]["30year"] %>">
                    </td>
                </form>
            </tr>
            <tr>
                <td>
                    New Yield Curve
                </td>
                <td align="center">
                    <%= setting["baseYield"]["2year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["baseYield"]["5year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["baseYield"]["10year"].toFixed(2) %>
                </td>
                <td align="center">
                    <%= setting["baseYield"]["30year"].toFixed(2) %>
                </td>
            </tr>

        </table>

        <div class="col-lg-14">
            <div class="col-lg-4">
                <a type="button" class="btn btn-success btn-group-justified" href="/riskByMaturity">Original</a>
            </div>

            <div class="col-lg-8">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <form action='/upYield' method='get'>
                            <input type="hidden" name="yield2" value="<%= setting["baseYield"]["2year"] %>">
                            <input type="hidden" name="yield5" value="<%= setting["baseYield"]["5year"] %>">
                            <input type="hidden" name="yield10" value="<%= setting["baseYield"]["10year"] %>">
                            <input type="hidden" name="yield30" value="<%= setting["baseYield"]["30year"] %>">
                            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Shift 50% Up</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action='/downYield' method='get'>
                            <input type="hidden" name="yield2" value="<%= setting["baseYield"]["2year"] %>">
                            <input type="hidden" name="yield5" value="<%= setting["baseYield"]["5year"] %>">
                            <input type="hidden" name="yield10" value="<%= setting["baseYield"]["10year"] %>">
                            <input type="hidden" name="yield30" value="<%= setting["baseYield"]["30year"] %>">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Shift 50% down</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </br>
        </br>
        </br>

        <div>
            <div class="alert alert-success" role="alert">
                <strong>Real Time:</strong> <%= time["realTime"] %> milliseconds &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>User Time:</strong> <%= time["userTime"] %> milliseconds &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>System Time:</strong> <%= time["systemTime"] %> milliseconds
            </div>
        </div>

    </body>
</html>
